body {
    margin: 0px;
    font-family: Georgia;
    background-color: grey;
}

#header,
#nav,
#main,
#aside,
#footer {
    background: yellowgreen;
    border: 1px salmon pink;
    border-radius: 12px;
    margin:10px;
    padding: 20px;
}

#header {
    height: auto;
    width: 100%;
}

#main {
    display: flex;
    flex-flow: row wrap;
}

#nav {
    background-color: azure;
}

#aside {
    background-color: beige;
}

#footer {
    background-color: brown;
}
@media only screen and (max-width: 1000px) {
    #nav {
        height: auto;
    }

    #main {
        height: auto;
        background-color: aqua;
    }

    #aside {
        height: auto;
    }
}

@media only screen and (max-width: 800px) {
    #nav {
        background-color: aquamarine;
    }

    body {
        height: auto;
        background-color: pink;
    }
}